<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container px-5">
      <h1 class="masthead-heading mb-0">Bienvenido a</h1>
      <h2 class="masthead-subheading mb-0">la sala de juegos</h2>
      <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll"
        >mas información</a
      >
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<!-- Content section 1-->
<section id="scroll">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img
              class="img-fluid rounded-circle game-img"
              src="assets\juegos\ahorcado\partes\ahorcado.png"
              alt="..."
              (click)="abrirJuegos(0)"
            />
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">El ahorcado</h2>
          <p>
            El ahorcado (también llamado colgado) es un juego de lápiz y papel para dos o más jugadores. Un jugador piensa en una palabra, frase u oración y el otro trata de adivinarla según lo que sugiere por letras o dentro de un cierto número de oportunidades.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 2-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img
              class="img-fluid rounded-circle game-img"
              src="assets/juegos/mayorMenor/palos/palos.png"
              alt="..."
              (click)="abrirJuegos(1)"
            />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Mayor o menor</h2>
          <p>
            con un mazo mezclado se muestra la primera carta. Entonces, los participantes adivinan si la siguiente carta será mayor o menor, si es igual cualquier respuesta está bien.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content section 3-->
<section>
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <!-- <img
              class="img-fluid rounded-circle"
              src="assets/img/03.jpg"
              alt="..."
            /> -->
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Dados locos</h2>
          <p>
            se elije un valor y se arrojan 4 dados de 6 caras, lo que se tarde en conseguir 4 dados de ese valor es lo que se suma, el objetivo es tener la menor cantidad de puntos!!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer-->
<footer class="py-5 bg-black">
  <div class="container px-5">
    <p class="m-0 text-center text-white small">
      Copyright &copy; Lorem ipsum dolor sit.
    </p>
  </div>
</footer>
