#content {
  width: 100vw;
  height: 100vh;
  #game {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-top: 7rem;
    //   justify-items: center;
    // height: 20%;
    button,
    h3,
    h5 {
      align-self: center;
    }

    button,
    h3 {
      margin: 2.5rem 0;
    }
    h3,
    h5 {
      text-align: center;
      width: 50%;
    }
    h3 {
        margin-top: 1rem;
      margin-bottom: 0;
    }
    h5 {
      margin-bottom: 2rem;
    }

    .buttons {
      margin: 2rem 0;
      align-items: center;
      appearance: none;
      background-color: #fff;
      border-radius: 24px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
        rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
      box-sizing: border-box;
      color: #3c4043;
      cursor: pointer;
      display: inline-flex;
      fill: currentcolor;
      font-family: "Google Sans", Roboto, Arial, sans-serif;
      font-size: 14px;
      font-weight: 500;
      height: 48px;
      justify-content: center;
      letter-spacing: 0.25px;
      line-height: normal;
      max-width: 100%;
      width: 150px;
      overflow: visible;
      padding: 2px 24px;
      position: relative;
      text-align: center;
      text-transform: none;
      transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      will-change: transform, opacity;
      z-index: 0;
    }
    .buttons:hover {
      background: #f6f9fe;
      color: #3c4043;
    }
    .buttons:active {
      box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%),
        0 8px 12px 6px rgb(60 64 67 / 15%);
      outline: none;
    }
    .buttons:disabled {
      background: #808080;
      color: #171717;
    }
    #dados-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    #gano {
      margin-top: 1rem;
    }
  }
}

.dados {
  background-color: white;
  border-radius: 20px;
  margin: 0.5rem 0;
  height: 100px;
}

.selected {
  scale: 1.5;
  background-color: white;
  border-radius: 20px;
  margin: 0.5rem 0;
  height: 100px;
}

.unfocus {
  background-color: rgba($color: white, $alpha: 0.5);
}

.spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
