<section id="content">
    <div id="top-content">
        <h1>Quien soy?</h1>
    </div>

    <div id="about-me">
        <div id="img">
            <img src="assets/home/jaco.png" alt="foto mia">
        </div>
        <div id="informacion">
            <div class="texto">
                <h2>Experiencia</h2>
                <h4>
                    
                    <ul>
                        <li>Heurix</li>
                        <i>
                            ENE 2022 - Jun 2022<br>
                            Sector: Desarrollo de software personalizado de sistemas de TI<br>
                            Puesto: Desarrollador freelance frontEnd en Angular 
                        </i>
                        <li>
                            Desarrollador web Fullstack
                        </li>
                        <i>
                            JUL 2023 - ACTUALIDAD<br>
                            Desarrollador freelance de apps <br>
                            BackEnd: PHP slim<br>
                            FrontEnd: HTML, css, JavaScript<br>
                        </i>
                    </ul>
                </h4>
            </div>
            <div class="texto">
                <h2>Estudios</h2>
                <h4>
                <ul>
                    <li>Universidad Tecnológica Nacional, Regional de Avellaneda</li>
                    <i>
                        JUl 2022 - Actualidad<br>
                        Tecnicatura en Programación
                    </i>
                    <li>
                        Curso Testing QA,  Educación IT
                    </li>
                    <i>
                        JuL 2022 - AGO 2022<br>
                        Tester QA
                    </i>
                    <li>
                        Escuela Técnica Ing. Eduardo Latzina,  Secundario técnico industrial con orientación en Automotores y Computación
                    </li>
                    <i>
                        2015 - 2020<br>
                        Técnico Industrial en computación
                    </i>
                </ul>
                </h4>
            </div>
            <div class="texto">
                <h2>Intereses</h2>
                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, tenetur.</h4>
            </div>
        </div>
    </div>
    

    <div id="Juego">
        <h2>Juego</h2>
        <h4>
            se elije un valor y se arrojan 4 dados de 6 caras, lo que se tarde en conseguir 4 dados de ese valor es lo que se suma, el objetivo es tener la menor cantidad de puntos
        </h4>
    </div>
</section>
