<div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <i class="gg-close close" routerLinkActive="active" routerLink="/home"></i>
    <form  action="">
    <div class="input-group input-group-lg">
      <!-- <span class="input-group-addon"><i class="fa fa-user"></i></span> -->
      <input
        type="text"
        class="form-control"
        placeholder="Username or email"
        [(ngModel)]="correo"
        name="correo"
      />
    </div>

    <div class="input-group input-group-lg">
      <!-- <span class="input-group-addon"><i class="fa fa-lock"></i></span> -->
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="clave" name="clave"/>
    </div>

    <button type="submit" class="float" (click)="Login()">Login</button>
    
    <button type="submit" class="float" (click)="ingresoRapido()">Usuario 1</button>
    </form>
  </div>
</div>
