$shadow-color: #23203b;
$input-color: lighten(#AB9E95, 10%);
$input-border-color: #5E5165;
$button-background-color: #443c48;
$bs-body-color: #212529;
$bg-gradient-start: #ee0979;
$bg-gradient-end: #ff6a00;
* {
  margin: 0;
  padding: 0;
}

.login {
  padding: 15px;
  width: 100vw;
  height: 100vh;
  min-height: 400px;
  margin: auto;
  align-items: center;
  .heading {
    height: 60%;
    width: 25%;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bs-body-color;
    border-radius: 10%;
    box-sizing: content-box;
    height: fit-content;
    
    h2 {
      font-size: 3em;
      font-weight: 300;
      color: $input-color;
      display: inline-block;
      padding-bottom: 5px;
      text-shadow: 1px 1px 3px $shadow-color;
      margin-top: 5%;
    }

    .close{
      position: absolute;
      left: 90%;
      bottom: 90%;
      background-color: $bg-gradient-end;
    }
    .close:hover{
      cursor: pointer;
    }

    form {
      width: 75%;
      margin: auto;
      margin-top: 50px;
      margin-bottom: 50px;
      .input-group {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin: 5% 0;
        &:last-of-type {
          border-top: none;
        }
  
        // span {
        //   background: transparent;
        //   min-width: 53px;
        //   border: none;
          
        //   i {
        //     font-size: 1.5em;
        //     color: rgba(255, 255, 255, 0.2);
        //   }
        // }
      }
  
      input.form-control {
        padding: 10px;
        font-size: 1.6em;
        width: 100%;
        background: transparent;
        color: $input-color;
        
        &:focus {
          border: none;
        }
      }
      ::placeholder {
        color: $input-color;
      }

      button {
        margin-top: 20px;
        background: $input-border-color;
        border: none;
        font-size: 1.6em;
        font-weight: 300;
        padding: 5px 0;
        width: 100%;
        border-radius: 3px;
        color: lighten($button-background-color, 40%);
        border-bottom: 4px solid darken($button-background-color, 10%);
  
        &:hover {
          background: tint($button-background-color, 4%);
          -webkit-animation: hop 1s;
          animation: hop 1s;
        }
      }
    }
  }
}

.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float:hover, .float:focus, .float:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
